
.screen3 {
  width: 100%;
  max-width: 1640px;
  background-image: url(./img/topoboi-bg-DZ1.png);
}

.screen3 * {
  font-family: Geometria-bold;
  color: #ffffff;
}

.screen3-wrapper {
  width: 100%;
  background: radial-gradient(24.05% 24.05% at 50% 56.14%, rgba(13, 13, 13, 0.4899999833) 0%, rgba(14, 14, 14, 0.6790000085) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen3-wrapper .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  border-bottom: 6px solid var(--red);
  padding-bottom: 10px;
}
.screen3-wrapper .title-subtext {
  max-width: 54.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2575;
}

 .screen3-wrapper .content-wrapper {
  width: 100%;
  height: 72.6rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.left-img {
  width: 71rem;
  height: 67.6rem;
  position: relative;
}

.left-img .frame {
  height: 61.9rem;
  background-repeat: no-repeat;
  background-position: center;
}

.one {
  background-image: url('./img/consult.png');
}

.two {
  background-image: url('./img/exchange.png');
}

.three {
  background-image: url('./img/diagnost.png');
}

.left-img .rect {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./img/rect.png');
  z-index: 3;
}

.screen3-wrapper .content-wrapper .service-item {
  padding: 3.75rem 6.8rem 4rem 4rem;
  width: 70rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  z-index: 1;
}

 .screen3-wrapper .content-wrapper .service-item .icon {
  width: 13rem;
  height: 13rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
 .screen3-wrapper .content-wrapper .service-item .service-text {
  margin-bottom: 0.35rem;
  display: flex;

  flex-direction: column;
  flex-shrink: 0;
}
 .screen3-wrapper .content-wrapper .service-item .service-text .service-title {
  margin-bottom: 1.7rem;
  max-width: 28.3rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
 .screen3-wrapper .content-wrapper .service-item .service-text .service-text {
  max-width: 35.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}

.screen3-wrapper .content-wrapper .hover {
  width: 60.5rem;
  height: 20rem;
  position: absolute;
}

.screen3-wrapper .content-wrapper .button-98s {
  width: 23.6rem;
  height: 5.6rem;
  position: absolute;
  left: 44.6rem;
  top: 67rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria-bold;
  white-space: nowrap;
  border: solid 0.4rem var(--red);
  box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








