.buttonwrapper{
    position: fixed;
    right: 10px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
}

.buttonwrapper button{
    width: 51px;
    height: 51px;
}

.up{
    background-image: url("../../images/up-arrow.svg");
}

.down{
    background-image: url("../../images/down-arrow.svg");
}