.buttonwrapper{
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.buttonwrapper button{
    width: 5.1rem;
    height: 5.1rem;
}

.up{
    background-image: url("../../images/up-arrow.svg");
}

.down{
    background-image: url("../../images/down-arrow.svg");
}