.screen1-button {
    width: 212px;
    height: 52px;
    border: solid 4px var(--red);
}
  
.screen1-button-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("");
    background-size: cover;*/
}
  
.screen1-button a{
    font-family: Geometria, 'Source Sans Pro';
    color: #fff;
    /*font-size: calc(14px + 1 * (100vw/200));*/
    font-size: 14px;
    font-weight: 700;
}