.screen1-button {
    width: 2.12rem;
    height: 5.2rem;
    border: solid 4px var(--red);
}
  
.screen1-button-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url("");
    background-size: cover;*/
}
  
.screen1-button a{
    font-family: Geometria, 'Source Sans Pro';
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
}