
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.item-3-B6f {
  box-sizing: border-box;
  padding: 4.15rem 4rem 0rem 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.4rem #a4a4a4;
  background-color: #ffffff;
}
.item-3-B6f .frame-1-f1q {
  margin: 0rem 7.5rem 2.75rem 0rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item-3-B6f .frame-1-f1q .magnum-60ah-1-CXZ {
  width: 21.2rem;
  height: 18.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item-3-B6f .auto-group-zu63-8RD {
  margin: 0.55rem 3.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-zu63-8RD .magnum-60ah-rs1 {
  margin-bottom: 4.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-zu63-8RD .item--ygj {
  margin-bottom: 1.7rem;
  max-width: 26.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ {
  max-width: 22rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-1 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-3 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-5 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-7 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-8 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-9 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-10 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-11 {
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-12 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-B6f .auto-group-zu63-8RD .p-242175190-magnum-b-145-xoZ .p-242175190-magnum-b-145-xoZ-sub-13 {
}
.item-3-B6f .auto-group-nkpf-PrF {
  margin-bottom: 4.8rem;
  width: 16.4rem;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-effd-jQK {
  margin-bottom: 1.5rem;
  width: 15rem;
  height: 6.35rem;
  position: relative;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-effd-jQK .item-2199--U71 {
  width: 15rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-effd-jQK .item-2900--AEj {
  width: 9.4rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 3.75rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-effd-jQK .vector-7-TDq {
  width: 10rem;
  height: 0;
  position: absolute;
  left: 0.2rem;
  top: 5.05rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-ga2b-PdH {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-ga2b-PdH .button-2-hover-XDh {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-ga2b-PdH .button-2-hover-QHV {
  width: 8.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .auto-group-ga2b-PdH .button-2-hover-JNs {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .button-2-hover-Cj9 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
}
.item-3-B6f .auto-group-nkpf-PrF .button-2-hover-Cj9 .auto-group-2i2k-kkf {
  width: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .button-2-hover-Cj9 .item--FhR {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #c53720;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-3-B6f .auto-group-nkpf-PrF .button-2-hover-Cj9 .item--FhR .group-2-Zi7 {
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.item-3-B6f .auto-group-nkpf-PrF .button-2-hover-h3d {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
}
