
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.item-5-sCB {
  box-sizing: border-box;
  padding: 3.6rem 4rem 4rem 4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #a4a4a4;
  background-color: #ffffff;
}
.item-5-sCB .item--k15 {
  margin: 0rem 0rem 1.6rem 14.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3cc051;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-nzlx-DQT {
  margin: 0rem 4.4rem 7.6rem 0.6rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-nzlx-DQT .frame-1-Lzs {
  margin: 0rem 6.5rem 0.3rem 0rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-nzlx-DQT .frame-1-Lzs .magnum-60ah-1-hKd {
  width: 34.5rem;
  height: 30.1rem;
  object-fit: cover;
  vertical-align: top;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m {
  margin-bottom: 0.2rem;
  width: 29.4rem;
  height: 26.2rem;
  position: relative;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD {
  width: 29.4rem;
  height: 26.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-3 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-5 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-6 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-7 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-8 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-9 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-10 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-11 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-12 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .p-242175190-magnum-b-145-jXD .p-242175190-magnum-b-145-jXD-sub-13 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .item-2199--Lco {
  width: 16.9rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 16.9rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .item-2900--eNb {
  width: 11.3rem;
  height: 3.1rem;
  position: absolute;
  left: 0.2rem;
  top: 21.45rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .auto-group-fcbh-o7m .vector-7-9q9 {
  width: 12.2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 23.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item-5-sCB .auto-group-nzlx-DQT .auto-group-bh4j-38b .item--hLs {
  max-width: 30rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .item--dNw {
  margin: 0rem 1.6rem 0.4rem 0rem;
  opacity: 0.5;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .item--Jzs {
  margin: 0rem 32rem 0.4rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-CqM {
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-6A3 {
  width: 8.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-P99 {
  margin-right: 1.6rem;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-UAb {
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-UAb .auto-group-hg55-RLj {
  width: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-UAb .item--umh {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #c53720;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-5-sCB .auto-group-2cb1-5sD .button-2-hover-UAb .item--umh .group-2-Rk3 {
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
