
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}.item--gwZ {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--an3 {
  margin-bottom: 8.4rem;
  width: 100%;
  height: 60.2rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--gwZ .item--an3 .fon-HAf .porsche-normal-1-qCB {
  width: 164rem;
  height: 60.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .rectangle-51-MgK {
  opacity: 0.6;
  width: 164rem;
  height: 60.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(14, 14, 14, 0.6000000238);
}
.item--gwZ .item--an3 .fon-HAf .content-4qd {
  width: 93.6rem;
  height: 39.5rem;
  position: absolute;
  left: 25.6rem;
  top: 17.2rem;
}
.item--gwZ .item--an3 .fon-HAf .content-4qd .rectangle-53-Psu {
  width: 93.6rem;
  height: 34.8rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .content-4qd .pro-pro-20--jgs {
  width: 87rem;
  height: 36.3rem;
  position: absolute;
  left: 3.2rem;
  top: 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--an3 .fon-HAf .item--775 {
  width: 9rem;
  height: 14.9rem;
  position: absolute;
  left: 125.5rem;
  top: 17.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 {
  margin: 0rem 0.3rem 1.6rem 0.3rem;
  box-sizing: border-box;
  padding: 0.05rem 0.05rem 2.3rem 1.6rem;
  width: calc(100% - 0.6rem);
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-104.png');
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .vector-45-6zb {
  margin-bottom: 1.9rem;
  width: 2.15rem;
  height: 2.15rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s {
  margin-right: 1.55rem;
  opacity: 0.5;
  width: 5.2rem;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-46-ZNP {
  width: 5.2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-47-hjV {
  width: 5.2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-52-qao {
  width: 5.2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 4.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-48-mzF {
  width: 2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-50-iuV {
  width: 2rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-49-GRD {
  width: 2rem;
  height: 0;
  position: absolute;
  left: 3.2rem;
  top: 2.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .ico-2-DA7 .group-29-S2s .vector-51-og3 {
  width: 2rem;
  height: 0;
  position: absolute;
  left: 3.2rem;
  top: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--an3 .fon-HAf .item--775 .item--WqM {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--p5M {
  width: 12.2rem;
  height: 12.1rem;
  position: absolute;
  left: 123.85rem;
  top: 35.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--an3 .fon-HAf .item--p5M .ico-1-7aF {
  margin: 0rem 0rem 1.6rem 0.9rem;
  width: 9.2rem;
  height: 8.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--p5M .item--Raw {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  text-decoration-line: underline;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--KgK {
  width: 28.3rem;
  height: 5.9rem;
  position: absolute;
  left: 67.85rem;
  top: 8.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--an3 .fon-HAf .item--KgK .item--dBD {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--an3 .fon-HAf .item--KgK .rectangle-25-iyM {
  margin: 0 0.05rem;
  width: calc(100% - 0.1rem);
  height: 0.4rem;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--gwZ .item--bnF {
  margin-bottom: 7.6rem;
  width: 100%;
  height: 122.4rem;
  position: relative;
  background-color: #ececec;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 {
  width: 112.8rem;
  height: 46.6rem;
  position: absolute;
  left: 25.6rem;
  top: 67rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-4-EKR {
  width: 36rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-4-EKR .group-27-au5 {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-4-EKR .group-27-au5 .group-28-wzX {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-4-EKR .group-27-au5 .mobil-5L3 {
  width: 30.6rem;
  height: 9.1rem;
  position: absolute;
  left: 0.3rem;
  top: 25.8rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-5-LWs {
  width: 36rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-5-LWs .group-27-6kw {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-5-LWs .group-27-6kw .group-28-s11 {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-5-LWs .group-27-6kw .liqui-moly-Pzw {
  width: 30.6rem;
  height: 9.1rem;
  position: absolute;
  left: 0.3rem;
  top: 21.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-6-fhZ {
  width: 36rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-6-fhZ .group-27-d8b {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-6-fhZ .group-27-d8b .group-28-Bfu {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-t1vh-XA7 .frame-6-fhZ .group-27-d8b .motul-v7h {
  width: 30.6rem;
  height: 9.1rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--bnF .auto-group-59hy-BpK {
  width: 74.4rem;
  height: 46.6rem;
  position: absolute;
  left: 64rem;
  top: 18rem;
  display: flex;
  align-items: center;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .group-27-v1D {
  margin-right: 2.4rem;
  width: 36rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .group-27-v1D .group-28-GKy {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .group-27-v1D .rectangle-53-bNF {
  width: 36rem;
  height: 46.6rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .group-27-v1D .item--8sy {
  width: 30.6rem;
  height: 9.1rem;
  position: absolute;
  left: 2.7rem;
  top: 30.2rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .group-27-v1D .c3c8bdcb80a5922674bb45e84a130a0-1-kPZ {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 3.8rem;
  object-fit: cover;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .frame-3-G71 {
  width: 36rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .frame-3-G71 .group-27-Dnw {
  width: 100%;
  height: 100%;
  position: relative;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .frame-3-G71 .group-27-Dnw .group-28-z31 {
  width: 16.8rem;
  height: 23.4rem;
  position: absolute;
  left: 9.6rem;
  top: 4.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--bnF .auto-group-59hy-BpK .frame-3-G71 .group-27-Dnw .castrol-Kqy {
  width: 18.7rem;
  height: 6.1rem;
  position: absolute;
  left: 6.25rem;
  top: 21.4rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--bnF .frame-1-DAf {
  width: 36rem;
  height: 46.6rem;
  position: absolute;
  left: 25.6rem;
  top: 18rem;
  overflow: hidden;
}
.item--gwZ .item--bnF .frame-1-DAf .group-27-MGs {
  box-sizing: border-box;
  padding: 4.4rem 2.7rem 7.3rem 2.7rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--bnF .frame-1-DAf .group-27-MGs .group-28-SZD {
  margin-bottom: 2.4rem;
  width: 16.8rem;
  height: 23.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .frame-1-DAf .group-27-MGs .elf-aQX {
  max-width: 30.6rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--gwZ .item--bnF .item--GYF {
  width: 24.8rem;
  height: 5.9rem;
  position: absolute;
  left: 69.6rem;
  top: 8.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--bnF .item--GYF .item--NrB {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--bnF .item--GYF .rectangle-25-VA7 {
  width: 100%;
  height: 0.4rem;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--gwZ .item--dXD {
  margin-bottom: 7.8rem;
  width: 100%;
  height: 93.2rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ba30b029804dc63f170e1a8d93a06-1-bg.png');
  background-color: rgba(28, 28, 28, 0.8000000119);
  flex-shrink: 0;
}
.item--gwZ .item--dXD .button-MCK {
  width: 23.6rem;
  height: 5.6rem;
  position: absolute;
  left: 67.8rem;
  top: 78.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
}
.item--gwZ .item--dXD .rectangle-25-DVR {
  width: 24.8rem;
  height: 0.4rem;
  position: absolute;
  left: 69.6rem;
  top: 14.4rem;
  background-color: #c53720;
}
.item--gwZ .item--dXD .item--xC7 {
  width: 22.8rem;
  height: 4.6rem;
  position: absolute;
  left: 70.6rem;
  top: 8.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item--gwZ .item--dXD .item--E9d {
  width: 26.4rem;
  height: 25.8rem;
  position: absolute;
  left: 25.6rem;
  top: 18rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  background-color: #ffffff;
}
.item--gwZ .item--dXD .item--E9d .item-1-umZ {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .item--E9d .auto-group-txhh-EJ3 {
  box-sizing: border-box;
  padding: 2.85rem 1.2rem 2.45rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF {
  width: 84rem;
  height: 25.8rem;
  position: absolute;
  left: 25.6rem;
  top: 46.2rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--cZV {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--cZV .item-1-Kio {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--cZV .auto-group-11wd-em5 {
  box-sizing: border-box;
  padding: 1.85rem 1.1rem 1.45rem 1.2rem;
  width: 100%;
  height: 7.4rem;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--cZV .auto-group-11wd-em5 .item--NSB {
  max-width: 24.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--SS3 {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--SS3 .item-1-xQP {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--SS3 .auto-group-y8f9-grB {
  width: 26.9rem;
  height: 7.4rem;
  position: relative;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--SS3 .auto-group-y8f9-grB .rectangle-57-dmR {
  width: 26.4rem;
  height: 7.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1c1c1c;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--SS3 .auto-group-y8f9-grB .item--Nyu {
  width: 25.7rem;
  height: 2.1rem;
  position: absolute;
  left: 1.2rem;
  top: 2.85rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--ctF {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--ctF .item-1-jT5 {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-7wjz-6LF .item--ctF .auto-group-xsfq-ea3 {
  box-sizing: border-box;
  padding: 2.85rem 1.2rem 2.45rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb {
  width: 84rem;
  height: 25.8rem;
  position: absolute;
  left: 54.4rem;
  top: 18rem;
  display: flex;
  column-gap: 2.4rem;
  align-items: center;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--47y {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--47y .item-1-aMD {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--47y .auto-group-axpx-hwd {
  box-sizing: border-box;
  padding: 2.85rem 1.2rem 2.45rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--b1R {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--b1R .item-1-WPH {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--b1R .auto-group-j46s-chD {
  box-sizing: border-box;
  padding: 2.85rem 1.2rem 2.45rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--FEP {
  width: 26.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--FEP .item-1-jvF {
  width: 18.4rem;
  height: 18.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--dXD .auto-group-fshh-jLb .item--FEP .auto-group-oa5d-smZ {
  box-sizing: border-box;
  padding: 2.85rem 1.2rem 2.45rem 1.2rem;
  width: 100%;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--gwZ .item--7vo {
  width: 100%;
  height: 82rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .item--Sy5 {
  width: 214.4rem;
  height: 82rem;
  position: absolute;
  left: -25.2rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj {
  width: 93.6rem;
  height: 36.7rem;
  position: absolute;
  left: 35.2rem;
  top: 28.2rem;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--ubm {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  left: 88.4rem;
  top: 5.8rem;
  border: solid 0.4rem #c53720;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--ubm .vector-22-PG3 {
  width: 1.2rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--vFy {
  box-sizing: border-box;
  padding: 1.2rem 2rem;
  width: 5.2rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 5.8rem;
  border: solid 0.4rem #c53720;
  background-color: #c53720;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--vFy .vector-22-247 {
  width: 1.2rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH {
  width: 83.9rem;
  height: 36.7rem;
  position: absolute;
  left: 4.85rem;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH .item--FxT {
  margin-bottom: 4.4rem;
  width: 17.4rem;
  height: 16.8rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH .item--mR1 {
  margin-bottom: 2.1rem;
  max-width: 83.9rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH .rectangle-53-3fM {
  margin: 0rem 32.45rem 2rem 32.45rem;
  width: calc(100% - 64.9rem);
  height: 0.4rem;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH .item--Mvw {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .auto-group-d4x7-Nrj .item--MMH .item--tAB {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .button-black-zU7 {
  width: 19.4rem;
  height: 4rem;
  position: absolute;
  left: 72.3rem;
  top: 69.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
}
.item--gwZ .item--7vo .item--GRd {
  width: 44.2rem;
  height: 12.2rem;
  position: absolute;
  left: 59.9rem;
  top: 8.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--gwZ .item--7vo .item--GRd .item--aBR {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .item--GRd .rectangle-25-Unb {
  margin: 0rem 12.6rem 3.2rem 12.6rem;
  width: calc(100% - 25.2rem);
  height: 0.4rem;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--gwZ .item--7vo .item--GRd .item--P8s {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
