
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.hover-hNf {
  box-sizing: border-box;
  padding-left: 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.4rem #c53720;
  background-color: #ffffff;
}
.hover-hNf .frame-1-PmH {
  margin: 1.4rem 7.5rem 0rem 0rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.hover-hNf .frame-1-PmH .magnum-60ah-1-jaF {
  width: 21.2rem;
  height: 18.2rem;
  object-fit: cover;
  vertical-align: top;
}
.hover-hNf .auto-group-wlsz-4cX {
  margin: 4.7rem 3.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.hover-hNf .auto-group-wlsz-4cX .magnum-60ah-Bh9 {
  margin-bottom: 4.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hover-hNf .auto-group-wlsz-4cX .item--J15 {
  margin-bottom: 1.7rem;
  max-width: 26.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u {
  max-width: 22rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-1 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-3 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-5 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-7 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-8 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-9 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-10 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-11 {
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-12 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-hNf .auto-group-wlsz-4cX .p-242175190-magnum-b-145-H7u .p-242175190-magnum-b-145-H7u-sub-13 {
}
.hover-hNf .auto-group-ud5y-PPD {
  margin-bottom: 4.8rem;
  width: 20.4rem;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-7KD {
  margin: 0rem 0rem 0.95rem 10.4rem;
  width: 10rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #c53720;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wgpw-PXd {
  margin-bottom: 1.5rem;
  width: 15rem;
  height: 6.35rem;
  position: relative;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wgpw-PXd .item-2199--Kw5 {
  width: 15rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wgpw-PXd .item-2900--q8j {
  width: 9.4rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 3.75rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wgpw-PXd .vector-7-iiK {
  width: 10rem;
  height: 0;
  position: absolute;
  left: 0.2rem;
  top: 5.05rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wprm-eby {
  margin-bottom: 1.6rem;
  height: 4rem;
  display: flex;
  align-items: center;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wprm-eby .button-2-hover-ny5 {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wprm-eby .button-2-hover-gHm {
  width: 8.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .auto-group-wprm-eby .button-2-hover-yGs {
  width: 4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #a4a4a4;
  box-sizing: border-box;
  background-color: #a4a4a4;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-TSw {
  margin: 0rem 4rem 1.6rem 0rem;
  width: calc(100% - 4rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-TSw .auto-group-89m9-nEK {
  width: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-TSw .item--UN3 {
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 1rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #c53720;
  background-color: #ffffff;
  flex-shrink: 0;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-TSw .item--UN3 .group-2-z5V {
  width: 2rem;
  height: 2rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.hover-hNf .auto-group-ud5y-PPD .button-2-hover-uiF {
  width: 16.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
}
