
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 26.4rem;
}.hover-ybm {
  box-sizing: border-box;
  padding: 0rem 0rem 2.7rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #3cc051;
  background-color: #ffffff;
}
.hover-ybm .button-2-hover-gFH {
  margin: 0rem 0rem 1.6rem 15.6rem;
  width: 8.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3cc051;
  flex-shrink: 0;
}
.hover-ybm .frame-1-LKq {
  margin: 0rem 4.8rem 1.7rem 2.4rem;
  width: calc(100% - 7.2rem);
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.hover-ybm .frame-1-LKq .magnum-60ah-1-GDV {
  width: 17.2rem;
  height: 14.8rem;
  object-fit: cover;
  vertical-align: top;
}
.hover-ybm .magnum-60ah-bWf {
  margin: 0rem 12rem 1.65rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hover-ybm .auto-group-hrzh-Jfy {
  margin: 0rem 11.3rem 0.55rem 0rem;
  width: 13.1rem;
  height: 5.6rem;
  position: relative;
  flex-shrink: 0;
}
.hover-ybm .auto-group-hrzh-Jfy .item-2199--qA7 {
  width: 13.1rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 2rem;
  display: flex;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-ybm .auto-group-hrzh-Jfy .item-2900--jmH {
  width: 7.5rem;
  height: 2.1rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-ybm .auto-group-hrzh-Jfy .vector-6-e7Z {
  width: 8.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 1.05rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-ybm .item--nDm {
  margin: 0rem 2rem 1.4rem 0rem;
  max-width: 22.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.hover-ybm .auto-group-w9kb-YcF {
  margin: 0rem 2rem 2rem 0rem;
  width: calc(100% - 2rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hover-ybm .auto-group-w9kb-YcF .button-2-hover-sPd {
  margin-right: 2rem;
  width: 16.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.hover-ybm .auto-group-w9kb-YcF .item--Mpb {
  width: 4rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  background-color: #c53720;
  flex-shrink: 0;
}
.hover-ybm .auto-group-w9kb-YcF .item--Mpb .ellipse-4-VR1 {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  left: -0.2rem;
  top: 2.6rem;
  background-color: #ff0000;
  border-radius: 0.8rem;
}
.hover-ybm .auto-group-w9kb-YcF .item--Mpb .item-3-1eF {
  width: 0.5rem;
  height: 1.2rem;
  position: absolute;
  left: 0.35rem;
  top: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-ybm .auto-group-w9kb-YcF .item--Mpb .group-2-iHm {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-ybm .auto-group-w9kb-YcF .item--Mpb .vector-7-46j {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 1.9rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-ybm .button-2-hover-NNK {
  margin-right: 2rem;
  width: 22.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
