
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 163.7rem;
}.pop-up-H8K {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.pop-up-H8K .auto-group-wdew-cwH {
  margin-right: 4.5rem;
  width: 50rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 {
  margin-bottom: 5.4rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .item--gAT {
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .item--gAT .frame-46-1iX {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .item--gAT .item--9pj {
  width: 27.7rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .item--gAT .item--Mvo {
  width: 22.7rem;
  height: 1.6rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy {
  box-sizing: border-box;
  padding: 2.15rem 4rem 2.4rem 3.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-name-72o {
  margin: 0rem 0rem 1.35rem 0.1rem;
  width: 42rem;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-name-72o .item--RZH {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-name-72o .item--RZH .item--RZH-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-name-72o .item--RZH .item--RZH-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-name-72o .item-6-6UP {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-phone-9Sf {
  margin: 0rem 0rem 3.75rem 0.1rem;
  width: 42rem;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-phone-9Sf .item--gSb {
  margin-bottom: 0.55rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-phone-9Sf .item--gSb .item--gSb-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-phone-9Sf .item--gSb .item--gSb-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .input-phone-9Sf .item-7-m6f {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT {
  margin: 0rem 0.3rem 3.75rem 0.1rem;
  width: calc(100% - 0.4rem);
  height: 4.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT .ticker--HUK {
  margin: 0.25rem 1.6rem 0.25rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 3.6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #1c1c1c;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT .ticker--HUK .rectangle-61-Bpb {
  width: 100%;
  height: 1.2rem;
  background-color: #c53720;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT .item--h2F {
  max-width: 36.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT .item--h2F .item--h2F-sub-0 {
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .item--eAT .item--h2F .item--h2F-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .auto-group-v6s9-8mm {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .auto-group-v6s9-8mm .item--FLb {
  margin-right: 13.2rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-upcallback-Ya3 .auto-group-n1dr-zTy .auto-group-v6s9-8mm .button-2-hover-LN3 {
  width: 11.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb {
  box-sizing: border-box;
  padding-bottom: 3.15rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #3cc051;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .auto-group-1sdh-vb9 {
  margin-bottom: 3.2rem;
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .auto-group-1sdh-vb9 .frame-46-U6s {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .auto-group-1sdh-vb9 .item--D4T {
  width: 27.7rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .auto-group-1sdh-vb9 .item--4qm {
  width: 22.7rem;
  height: 1.6rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .layer-x0020-1-pyM {
  margin: 0rem 0rem 2.95rem 0rem;
  width: 24.5997rem;
  height: 21.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-wdew-cwH .pop-up1-zSb .item--wYB {
  margin-left: 0.1rem;
  max-width: 21.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #3cc051;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ {
  margin-right: 9.2rem;
  width: 50rem;
  height: 156.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj {
  margin-bottom: 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-ssv5-qGB {
  margin-bottom: 2.15rem;
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-ssv5-qGB .frame-46-AZM {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-ssv5-qGB .item--fm1 {
  width: 23rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-ssv5-qGB .item--8uV {
  width: 29.4rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .item--gZd {
  margin-left: 4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .item--gZd .item--gZd-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .item--gZd .item--gZd-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej {
  width: 100%;
  height: 59.35rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item-6-3h1 {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 0.55rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item-7-X6P {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 8.55rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item-9-CCX {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 16.55rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item-10-5n7 {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 24.55rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item-11-7yh {
  width: 42rem;
  height: 8.8rem;
  position: absolute;
  left: 4rem;
  top: 32.55rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--a6b {
  width: 8.4rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 5.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--a6b .item--a6b-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--a6b .item--a6b-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .e-mail-Fc3 {
  width: 4.3rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 13.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--Zsd {
  width: 25.4rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 21.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--B8K {
  width: 10.7rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 29.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--B8K .item--B8K-sub-0 {
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .item--B8K .item--B8K-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF {
  width: 41.7rem;
  height: 4.1rem;
  position: absolute;
  left: 4rem;
  top: 45.1rem;
  display: flex;
  align-items: center;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF .ticker--rtf {
  margin: 0.25rem 1.6rem 0.25rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 3.6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #1c1c1c;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF .ticker--rtf .rectangle-61-xwh {
  width: 100%;
  height: 1.2rem;
  background-color: #c53720;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF .item--HDH {
  max-width: 36.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF .item--HDH .item--HDH-sub-0 {
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ekes-jJF .item--HDH .item--HDH-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ifmq-X19 {
  width: 42.1rem;
  height: 4rem;
  position: absolute;
  left: 3.9rem;
  top: 52.95rem;
  display: flex;
  align-items: center;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ifmq-X19 .item--Ew9 {
  margin-right: 13.2rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-upask-trj .auto-group-bjfh-iej .auto-group-ifmq-X19 .button-2-hover-ibR {
  width: 11.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq {
  box-sizing: border-box;
  padding-bottom: 15.75rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #3cc051;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .auto-group-b61u-eNb {
  margin-bottom: 10.8rem;
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .auto-group-b61u-eNb .frame-46-NpP {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .auto-group-b61u-eNb .item--Wvb {
  width: 23rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .auto-group-b61u-eNb .item--PDh {
  width: 29.4rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .layer-x0020-1-jRy {
  margin: 0rem 0rem 2.95rem 0.1rem;
  width: 34.4998rem;
  height: 30rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-6rwm-ZZZ .pop-up2-9Rq .item--dnF {
  margin-left: 0.1rem;
  max-width: 21.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #3cc051;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj {
  width: 50rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 {
  margin-bottom: 5.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-kdbd-hfd {
  margin-bottom: 2.15rem;
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-kdbd-hfd .frame-46-q19 {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-kdbd-hfd .item--aDd {
  width: 24.8rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-kdbd-hfd .item--F4s {
  width: 20.5rem;
  height: 1.6rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .item--eMu {
  margin-left: 4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .item--eMu .item--eMu-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .item--eMu .item--eMu-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij {
  width: 100%;
  height: 55.75rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item-6-fRR {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 0.55rem;
  overflow: hidden;
  border: solid 0.4rem #ff2300;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item-7-95h {
  width: 42rem;
  height: 4rem;
  position: absolute;
  left: 4rem;
  top: 9.35rem;
  overflow: hidden;
  border: solid 0.4rem #ff2300;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--mMy {
  width: 18.7rem;
  height: 1.3rem;
  position: absolute;
  left: 27.3rem;
  top: 5.1rem;
  text-align: right;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ff2300;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--p5M {
  width: 18.7rem;
  height: 1.3rem;
  position: absolute;
  left: 27.3rem;
  top: 13.9rem;
  text-align: right;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ff2300;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--Tu1 {
  width: 22.9rem;
  height: 1.3rem;
  position: absolute;
  left: 23.1rem;
  top: 36.7rem;
  text-align: right;
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ff2300;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--h2f {
  width: 8.4rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 6.7rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2580000162;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--h2f .item--h2f-sub-0 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--h2f .item--h2f-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu {
  width: 41.7rem;
  height: 4.1rem;
  position: absolute;
  left: 4rem;
  top: 41.5rem;
  display: flex;
  align-items: center;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu .ticker--qwV {
  margin: 0.25rem 1.6rem 0.25rem 0rem;
  box-sizing: border-box;
  padding: 1.2rem;
  width: 3.6rem;
  height: calc(100% - 0.5rem);
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #1c1c1c;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu .ticker--qwV .rectangle-61-L7Z {
  width: 100%;
  height: 1.2rem;
  background-color: #c53720;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu .item--3Gs {
  max-width: 36.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu .item--3Gs .item--3Gs-sub-0 {
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-uwxd-Xfu .item--3Gs .item--3Gs-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-ifix-UWb {
  width: 42.1rem;
  height: 4rem;
  position: absolute;
  left: 3.9rem;
  top: 49.35rem;
  display: flex;
  align-items: center;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-ifix-UWb .item--o35 {
  margin-right: 13.2rem;
  text-align: right;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .auto-group-ifix-UWb .button-2-hover-sod {
  width: 11.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item-11-kMd {
  width: 42rem;
  height: 18rem;
  position: absolute;
  left: 4rem;
  top: 18.15rem;
  overflow: hidden;
  border: solid 0.4rem #1c1c1c;
  box-sizing: border-box;
  background-color: #ffffff;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--c8w {
  width: 10.7rem;
  height: 2.1rem;
  position: absolute;
  left: 4rem;
  top: 15.5rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  align-items: baseline;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--c8w .item--c8w-sub-0 {
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-xi3 .auto-group-dljs-vij .item--c8w .item--c8w-sub-1 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD {
  box-sizing: border-box;
  padding-bottom: 12.35rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.4rem #3cc051;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .auto-group-keq7-eE3 {
  margin-bottom: 7.4rem;
  width: 100%;
  height: 12rem;
  position: relative;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .auto-group-keq7-eE3 .frame-46-Bjm {
  width: 50rem;
  height: 12rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .auto-group-keq7-eE3 .item--L6s {
  width: 24.8rem;
  height: 3.1rem;
  position: absolute;
  left: 13.2rem;
  top: 3.05rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .auto-group-keq7-eE3 .item--Q6j {
  width: 20.5rem;
  height: 1.6rem;
  position: absolute;
  left: 13.2rem;
  top: 6.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .layer-x0020-1-nNB {
  margin: 0rem 0rem 2.95rem 0.1rem;
  width: 34.4998rem;
  height: 30rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pop-up-H8K .auto-group-no8b-prj .pop-up3-6yD .item--tg7 {
  margin-left: 0.1rem;
  max-width: 21.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #3cc051;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
