
.screen3 {
  /*height: ;
  background-color: ;*/
  display: flex;
  justify-content: center;
  align-items: center;
}




html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}


.item--mV9 .item--YPH {
  margin-bottom: 3.1rem;
  width: 100%;
  height: 45rem;
  position: relative;
  background-color: #ececec;
  flex-shrink: 0;
}
.item--mV9 .item--YPH .rectangle-25-QwH {
  width: 112.8rem;
  height: 0.1rem;
  position: absolute;
  left: 25.7rem;
  top: 40rem;
  background-color: #a4a4a4;
}
.item--mV9 .item--YPH .item-600--YGo {
  width: 94.2rem;
  height: 2.1rem;
  position: absolute;
  left: 25.6rem;
  top: 35rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item--mV9 .item--YPH .image-3cs {
  width: 112.8rem;
  height: 19rem;
  position: absolute;
  left: 25.6rem;
  top: 13rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/e47d21e29a4899031c1e11318b93cb9-1-bg.png');
}
.item--mV9 .item--YPH .image-3cs .rectangle-92-mom {
  width: 69.2rem;
  height: 19rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(89.32deg, rgba(0, 0, 0, 0.8000000119) 0.51%, rgba(0, 0, 0, 0) 99.41%);
}
.item--mV9 .item--YPH .image-3cs .item-600--H1R {
  width: 45.1rem;
  height: 12.1rem;
  position: absolute;
  left: 3.8rem;
  top: 3.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--mV9 .item--YPH .item--5xs {
  box-sizing: border-box;
  padding: 0 29.85rem;
  width: 112.7rem;
  height: 4.2rem;
  position: absolute;
  left: 25.6rem;
  top: 5rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--mV9 .item--YPH .item--5xs .item--yYT {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .item--YPH .item--5xs .rectangle-26-FF5 {
  margin: 0rem 0.45rem 0rem 0.55rem;
  width: calc(100% - 1rem);
  height: 0.4rem;
  background-color: var(--red);
  flex-shrink: 0;
}
.item--mV9 .item--Yjy {
  margin: 0rem 25.6rem 10.1rem 25.6rem;
  width: calc(100% - 51.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mV9 .item--Yjy .item--9Us {
  margin-bottom: 4.6rem;
  box-sizing: border-box;
  padding: 0 23.1rem;
  width: 112.7rem;
  height: 4.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mV9 .item--Yjy .item--9Us .item--1X5 {
  margin-bottom: 0.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .item--Yjy .item--9Us .rectangle-26-VBM {
  margin: 0rem 0.8rem 0rem 0.9rem;
  width: calc(100% - 1.7rem);
  height: 0.4rem;
  background-color: var(--red);
  flex-shrink: 0;
}
.item--mV9 .item--Yjy .banner-1fV {
  margin-bottom: 3.6rem;
  width: 100%;
  height: 19rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-r8F.png');
  flex-shrink: 0;
}
.item--mV9 .item--Yjy .banner-1fV .rectangle-92-ZS7 {
  width: 80.3rem;
  height: 19rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(89.32deg, rgba(0, 0, 0, 0.8000000119) 0.51%, rgba(0, 0, 0, 0) 99.41%);
}
.item--mV9 .item--Yjy .banner-1fV .item--fzw {
  width: 35.1rem;
  height: 8.1rem;
  position: absolute;
  left: 4rem;
  top: 5.7rem;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--mV9 .item--Yjy .pro-auto--uPV {
  max-width: 112rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}


@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








