
.screen3 {
  /*height: ;
  background-color: ;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}.item-3-Qhu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}





.item-3-Qhu .faq-Anj {
  margin-bottom: 14.6rem;
  width: 100%;
  height: 130rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy {
  width: 164.5rem;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/a95887bcfc7753f-77018606-1-bg.png');
}
.item-3-Qhu .faq-Anj .item--7hy .rectangle-108-rQf {
  width: 164rem;
  height: 130rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(0deg, #000000 -0%, rgba(0, 0, 0, 0.6999999881) 100%);
}
.item-3-Qhu .faq-Anj .item--7hy .button-9ef {
  width: 16.8rem;
  height: 4rem;
  position: absolute;
  left: 72.9rem;
  top: 108.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem var(--red);
  box-sizing: border-box;
}
.item-3-Qhu .faq-Anj .item--7hy .item-4-pVu {
  box-sizing: border-box;
  padding-top: 0.35rem;
  width: 112.8rem;
  height: 7rem;
  position: absolute;
  left: 25.9rem;
  top: 95.6rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-Qhu .faq-Anj .item--7hy .item-4-pVu .auto-group-dxgj-ibH {
  margin: 0rem 1.55rem 1.55rem 0.8rem;
  width: calc(100% - 2.3499rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-4-pVu .auto-group-dxgj-ibH .item--SXH {
  margin: 0.1rem 59.25rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-4-pVu .auto-group-dxgj-ibH .frame-29-gRd {
  width: 4.9rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-4-pVu .rectangle-26-DgT {
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-3-NZM {
  box-sizing: border-box;
  padding-top: 0.35rem;
  width: 112.8rem;
  height: 7rem;
  position: absolute;
  left: 25.9rem;
  top: 87.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-Qhu .faq-Anj .item--7hy .item-3-NZM .auto-group-h1xb-rjR {
  margin: 0rem 1.55rem 1.55rem 0.8rem;
  width: calc(100% - 2.3499rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-3-NZM .auto-group-h1xb-rjR .item--afR {
  margin: 0.1rem 59.25rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-3-NZM .auto-group-h1xb-rjR .frame-29-1kj {
  width: 4.9rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-3-NZM .rectangle-26-xR5 {
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-2-i9M {
  width: 112.8rem;
  height: 33.4rem;
  position: absolute;
  left: 25.9rem;
  top: 52.4rem;
  overflow: hidden;
}
.item-3-Qhu .faq-Anj .item--7hy .item-2-i9M .item--dGK {
  width: 39.1rem;
  height: 2.1rem;
  position: absolute;
  left: 1.8rem;
  top: 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.item-3-Qhu .faq-Anj .item--7hy .item-2-i9M .rectangle-26-4Md {
  width: 112.8rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 33.2rem;
  background-color: #ffffff;
}
.item-3-Qhu .faq-Anj .item--7hy .item-2-i9M .item-3000-6-1-10--bcT {
  width: 102.4rem;
  height: 40.3rem;
  position: absolute;
  left: 1.8rem;
  top: 6.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item-3-Qhu .faq-Anj .item--7hy .item-2-i9M .frame-29-ysD {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 106rem;
  top: 1.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj {
  width: 112.8rem;
  height: 15.2rem;
  position: absolute;
  left: 25.6rem;
  top: 37.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .auto-group-dzpx-o5Z {
  box-sizing: border-box;
  padding: 0rem 1.2rem 3.1rem 0.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .auto-group-dzpx-o5Z .auto-group-rsv1-XXM {
  margin-bottom: 0.2rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .auto-group-dzpx-o5Z .auto-group-rsv1-XXM .item--HFd {
  margin: 0.1rem 58.9rem 0rem 0rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .auto-group-dzpx-o5Z .auto-group-rsv1-XXM .frame-29-uH1 {
  width: 5.6rem;
  height: 5.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .auto-group-dzpx-o5Z .item--F5y {
  max-width: 101.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item-1-7Cj .rectangle-26-tgf {
  width: 100%;
  height: 0.2rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 {
  box-sizing: border-box;
  padding-top: 1rem;
  width: 112.8rem;
  height: 5.2rem;
  position: absolute;
  left: 25.6rem;
  top: 27.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .auto-group-br63-wew {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .auto-group-br63-wew .item--VgT {
  width: 56.4rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .auto-group-br63-wew .item--VgT .item--pCw {
  margin-bottom: 0.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: var(--red);
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .auto-group-br63-wew .item--VgT .rectangle-91-K9h {
  width: 100%;
  height: 0.4rem;
  background-color: var(--red);
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .auto-group-br63-wew .item--U2b {
  box-sizing: border-box;
  padding: 0 14.95rem;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--eA3 .rectangle-26-wRy {
  width: 100%;
  height: 0.2rem;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--tMD {
  width: 88rem;
  height: 15.2rem;
  position: absolute;
  left: 38rem;
  top: 8.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-3-Qhu .faq-Anj .item--7hy .item--tMD .f-a-q-zQF {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--tMD .rectangle-25-hpT {
  margin: 0rem 36.3rem 3.2rem 36.3rem;
  width: calc(100% - 72.6rem);
  height: 0.4rem;
  background-color: var(--red);
  flex-shrink: 0;
}
.item-3-Qhu .faq-Anj .item--7hy .item--tMD .item--dCK {
  max-width: 88rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}


@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








