
.screen3 {
  /*height: ;
  background-color: ;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}





.item--mV9 .item--4oR {
  margin-bottom: 3.7rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  flex-shrink: 0;
}

.item--mV9 .item--4oR .item--Ldm {
  box-sizing: border-box;
  padding-top: 1.6rem;
  width: 100%;
  height: 7.2rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 28, 28, 0.75);
  flex-shrink: 0;
}
.item--mV9 .item--4oR .item--Ldm .auto-group-28yd-rs1 {
  margin: 0rem 27.6rem 56.4rem 26.8rem;
  width: calc(100% - 54.4rem);
  height: 4rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--mV9 .item--4oR .item--Ldm .auto-group-28yd-rs1 .auto-group-mfyz-myy {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 0.8rem 1.2rem 0.559rem 1.2rem;
  width: 97rem;
  height: 100%;
  background-color: #ffffff;
  flex-shrink: 0;
}
.item--mV9 .item--4oR .item--Ldm .auto-group-28yd-rs1 .auto-group-mfyz-myy .item--n8P {
  margin-right: 92.0586rem;
  width: 2.5414rem;
  height: 2.6414rem;
  object-fit: contain;
  vertical-align: top;
}
.item--mV9 .item--4oR .item--Ldm .auto-group-28yd-rs1 .button-VoV {
  margin-right: 1.6rem;
  width: 8.6rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--mV9 .item--4oR .item--Ldm .auto-group-28yd-rs1 .item--nXh {
  margin-top: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--mV9 .item--4oR .item--Ldm .rectangle-5-JW3 {
  width: 100%;
  height: 27.2rem;
  background-color: #0e0e0e;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR {
  margin-bottom: 20.9rem;
  width: 100%;
  height: 18.8rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 28, 28, 0.75);
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 {
  box-sizing: border-box;
  padding: 1.2rem 40.2rem 44.8rem 26.8rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-s1yk-gWb {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-s1yk-gWb .auto-group-s1yk-gWb-sub-0 {
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-s1yk-gWb .auto-group-s1yk-gWb-sub-1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-s1yk-gWb .auto-group-s1yk-gWb-sub-2 {
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-jmmh-jtB {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-jmmh-jtB .auto-group-jmmh-jtB-sub-0 {
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-jmmh-jtB .auto-group-jmmh-jtB-sub-1 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-1hg3-7dq {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .auto-group-dauw-Mz7 .auto-group-rt9r-R8j {
  box-sizing: border-box;
  padding: 1.2rem 1.6rem 1rem 1.6rem;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .frame-47-dHR .rectangle-5-vLP {
  width: 100%;
  height: 27.2rem;
  background-color: #0e0e0e;
  flex-shrink: 0;
}



@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








