
.screen3 {
  /*height: ;
  background-color: ;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.item--oZy {
  box-sizing: border-box;
  padding-top: 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item--oZy .magnum-1-6JB {
  margin-bottom: 2rem;
  width: 14.4rem;
  height: 14.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--oZy .auto-group-awjr-DNo {
  box-sizing: border-box;
  padding: 2rem 1.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  flex-shrink: 0;
}
.item--oZy .auto-group-awjr-DNo .magnum-LiK {
  margin-bottom: 1.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oZy .auto-group-awjr-DNo .item--fEo {
  margin-bottom: 4.4rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--oZy .auto-group-awjr-DNo .button-76o {
  width: 12rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem var(--red);
  box-sizing: border-box;
  flex-shrink: 0;
}



@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








