
.screen3 {
  /*height: ;
  background-color: ;*/
  display: flex;
  justify-content: center;
  align-items: center;
}


html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 164rem;
}




.item--mV9 .item--nLo {
  margin-bottom: 19.2rem;
  box-sizing: border-box;
  padding: 8.9rem 25.6rem 8.8rem 25.6rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/topoboi-bg.png');
  background-color: rgba(236, 236, 236, 0.8999999762);
  flex-shrink: 0;
}
.item--mV9 .item--nLo .item--hCs {
  margin: 0rem 12.15rem 3.5rem 12.15rem;
  width: calc(100% - 24.3rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .item--hCs .item--oFu {
  margin-bottom: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2575;
  text-transform: uppercase;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .item--hCs .rectangle-25-KEF {
  margin: 0rem 35.65rem 3.2rem 35.85rem;
  width: calc(100% - 71.5rem);
  height: 0.4rem;
  background-color: #c53720;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .item--hCs .item--e1d {
  max-width: 88.5rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 {
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-snwh-Z27 {
  margin-right: 2.4rem;
  width: 55.2rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-x9D.png');
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-snwh-Z27 .item--6Gw {
  box-sizing: border-box;
  padding: 18.6rem 8rem 6.8rem 8rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-snwh-Z27 .item--6Gw .item--zt7 {
  margin-bottom: 6.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-snwh-Z27 .item--6Gw .button-H6X {
  margin: 0 13rem;
  width: calc(100% - 26rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-miat-v9V {
  width: 55.2rem;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-bg.png');
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-miat-v9V .item--Gj9 {
  box-sizing: border-box;
  padding: 18.6rem 12.1rem 6.8rem 12.1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-miat-v9V .item--Gj9 .item--mvo {
  margin-bottom: 6.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--mV9 .item--nLo .auto-group-yro9-DD9 .auto-group-miat-v9V .item--Gj9 .button-4f1 {
  margin: 0 8.9rem;
  width: calc(100% - 17.8rem);
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  flex-shrink: 0;
}



@media screen and (max-width: 1920px) {
 
}

@media screen and (max-width: 1600px) {
 
}



@media screen and (max-width: 640px) {

}


@media screen and (max-width: 320px) {
 
}








