
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 84rem;
}.hover-Bkj {
  box-sizing: border-box;
  padding-left: 5.3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: solid 0.4rem #3cc051;
  background-color: #ffffff;
}
.hover-Bkj .frame-1-hj5 {
  margin: 1.4rem 7.5rem 0rem 0rem;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}
.hover-Bkj .frame-1-hj5 .magnum-60ah-1-qqH {
  width: 21.2rem;
  height: 18.2rem;
  object-fit: cover;
  vertical-align: top;
}
.hover-Bkj .auto-group-kqpm-NqD {
  margin: 4.7rem 3.1rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.hover-Bkj .auto-group-kqpm-NqD .magnum-60ah-KEf {
  margin-bottom: 4.7rem;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.hover-Bkj .auto-group-kqpm-NqD .item--SaB {
  margin-bottom: 1.7rem;
  max-width: 26.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT {
  max-width: 22rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  flex-shrink: 0;
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-0 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-1 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-3 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-4 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-5 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-6 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-7 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-8 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-9 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-10 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-11 {
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-12 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
}
.hover-Bkj .auto-group-kqpm-NqD .p-242175190-magnum-b-145-DUT .p-242175190-magnum-b-145-DUT-sub-13 {
}
.hover-Bkj .auto-group-dlbr-my9 {
  margin-bottom: 4.8rem;
  width: 20.4rem;
  flex-shrink: 0;
}
.hover-Bkj .auto-group-dlbr-my9 .button-2-hover-7GK {
  margin: 0rem 0rem 0.95rem 10.4rem;
  width: 10rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #3cc051;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-de6k-PUj {
  margin-bottom: 7.1rem;
  width: 15rem;
  height: 6.35rem;
  position: relative;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-de6k-PUj .item-2199--Xaw {
  width: 15rem;
  height: 4.1rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #1c1c1c;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-de6k-PUj .item-2900--EET {
  width: 9.4rem;
  height: 2.6rem;
  position: absolute;
  left: 0.2rem;
  top: 3.75rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #a4a4a4;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-de6k-PUj .vector-7-L2b {
  width: 10rem;
  height: 0;
  position: absolute;
  left: 0.2rem;
  top: 5.05rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-mbm9-FQT {
  margin: 0rem 4rem 1.6rem 0rem;
  width: calc(100% - 4rem);
  height: 4rem;
  display: flex;
  align-items: center;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-mbm9-FQT .button-2-hover-mtb {
  width: 12.4rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  background-color: #c53720;
  flex-shrink: 0;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-mbm9-FQT .item--fUB {
  width: 4rem;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
  background-color: #c53720;
  flex-shrink: 0;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-mbm9-FQT .item--fUB .group-2-Puy {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-Bkj .auto-group-dlbr-my9 .auto-group-mbm9-FQT .item--fUB .vector-7-8Mm {
  width: 0.6rem;
  height: 0.4rem;
  position: absolute;
  left: 1.9rem;
  top: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.hover-Bkj .auto-group-dlbr-my9 .button-2-hover-3Uj {
  width: 16.4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #c53720;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
}
