.button-TUj {
  width: 16.8rem;
  height: 4rem;
  position: absolute;
  left: 20.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Geometria, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.4rem #c53720;
  box-sizing: border-box;
}

.R_border_No_back_W_text {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 20.9rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #c53720;
    box-sizing: border-box;
    background-color: transparent;
}
  
.button-black-9MZ {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 20.9rem;
    top: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #1c1c1c;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #1c1c1c;
    box-sizing: border-box;
}


.button-hover-QHV {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 20.9rem;
    top: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #c53720;
    box-sizing: border-box;
    background-color: #c53720;
}


.button-black-hover-sRy {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 20.9rem;
    top: 16.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #1c1c1c;
    box-sizing: border-box;
    background-color: #1c1c1c;
}


.button2-MM9 {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 41.2rem;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #ffffff;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #ffffff;
    box-sizing: border-box;
}

.button-2-hover-SNb {
    width: 16.8rem;
    height: 4rem;
    position: absolute;
    left: 41.2rem;
    top: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #c53720;
    font-family: Geometria, 'Source Sans Pro';
    white-space: nowrap;
    border: solid 0.4rem #c53720;
    box-sizing: border-box;
}