@font-face {
  font-family: "Geometria-bold"; 
  src: local("Geometria-bold"),
    url("./images/Geometria-Bold.ttf") format("truetype");
}

#root{
  width: 100vw;
  margin: 0 auto;
  background-color: #fff;
  --red : #c53720;
}

html{
  font-size: calc(100vw / 1920 * 10);
}

@media screen and (max-width: 1024px) {
  html{
  font-size: calc(100vw / 768 * 10);
  }
}

@media screen and (max-width: 767px) {
  html{
  font-size: calc(100vw / 500 * 10);
  }
}

@media screen and (max-width: 500px) {
  html{
  font-size: calc(100vw / 375 * 10);
  }
}




body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  /*max-width: 1200px;*/
  width: 100%;
  /*height: 100vh;*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** временная сетка для верстки*/
/*.App::after {
  content: "";
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  opacity: 0.15;
  left: 2.0833333333%;
  right: 2.0833333333%;
  background: repeating-linear-gradient(90deg, #00f 0, #00f 8.5326086957%, transparent 8.5326086957%, transparent 10.1630434783%);
  pointer-events: none;
}*/

/*html {
	font-size:62.5%;
}*/

* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;
  /*border: solid 1px #000;*/
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

a{
  text-decoration: none;
}

a, h1, h2, h3, div, p, span {
  font-family: Benzin-Medium, 'Source Sans Pro';
}


